<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @portfolio_item.main_image.to_s, width: '100%' %>
    </div>
    <div class="col-md-5">
      <h2><%= @portfolio_item.title %></h2>
      <hr>
      <p><%= markdown(@portfolio_item.body) %></p>
      <hr>
      <h4>Technologies Used:</h4>
      <% @portfolio_item.technologies.each do |t| %>
      <p><%= t.name %></p>
      <% end %>

      <% if logged_in?(:site_admin) %>
        <div>
          <%= link_to "Edit", edit_portfolio_path(@portfolio_item), class: 'btn btn-warning btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

 
