<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

      <header class="masthead mb-auto">    
        <div class="inner"> 
          <h3 class="masthead-brand">Shunshun Lyu</h3>
          <%= render "shared/nav" %>
          </div>
      </header>

      <%= yield %>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <%= copyright_generator %>
        </div>
      </footer>  

      <%= source_helper("application") %>
    </div>
  </body>
</html>
